<h1 class="center">Marketplace</h1>
<h5 class="center">Se sei interessato a vedere cosa vendono gli altri utenti <%= link_to 'clicca qui.', contents_path %></h5> 
<p class="center"> Per poter vendere e comprare è richiesta l'iscrizione senza alcun costo per la prima settimana. 
Dopo la prima settimana se vorrai rimanere ancora con noi, e ne vale davvero la pena, dovrai effettuare un pagamento in base al tipo di abbonamento che sceglierai.</p>

